@import "~antd/dist/antd.css";
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(./UI//fonts/Gotham_Bold_Regular.ttf) format("ttf");
}

* {
  font-family: "Gotham", sans-serif;
  text-decoration: none;
}
